<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>freedompay</name>
    <displayName><![CDATA[FreedomPay]]></displayName>
    <version><![CDATA[4.1.0]]></version>
    <description><![CDATA[Payment gateway for QloApps with email notifications and admin enhancements]]></description>
    <author><![CDATA[FreedomPay Team]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[Are you sure?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <ps_versions_compliancy>
        <min>1.6.0.0</min>
        <max>1.6.99.99</max>
    </ps_versions_compliancy>
</module>